.about__section {
  &-a {
    overflow: hidden;
    .container {
      width: 100vw;
      height: 50vh;
      background-color: $color4;
      background: url(../images/vet-contact.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;
      display: flex;
      align-items: center;
      justify-content: center;

      .section-text {
        text-align: center;
        font-size: 2rem;
        color: #fff;
        border-radius: 3rem;
        padding: 1.2rem;
        background-color: rgba(15, 16, 53, 0.5);
      }
    }
  }

  &-b {
    &-content {
      padding: 3rem;
      font-size: 2rem;
      text-align: center;

      h2 {
        padding: 1.5rem;
      }
    }

    .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin: 1rem 0;
      padding: 1rem;

      .right {
        background: url(../images/radagast-1.webp);
        background-position: center;
        background-size: cover;
      }
    }
  }
}
